<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto" style="margin-left: 15px">
      <li class="nav-item active">
        <label style="color: white; font-size: 22px">
          Bem Vindo {{nomeUsuario}}</label
        >
      </li>
    </ul>
  </div>

  <form class="form-inline">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Pesquisar"
        aria-label="Pesquisar"
        aria-describedby="basic-addon2"
      />
      <div class="input-group-append" style="margin-right: 40px">
        <button class="btn btn-secondary" type="button">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</nav>

<div style="margin-top: 20px; margin-right: 50px; text-align: right">
  <a type="button" class="btn btn-primary" href="/clientes">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </a>
</div>

<div class="container my-5">
  <div class="form-group row">
    <div class="col-md-4">
      <label for="tipoPessoa">Tipo de Pessoa</label>
      <select class="form-control" id="tipoPessoa">
        <option></option>
        <option value="FISICA">Física</option>
        <option value="JURIDICA">Jurídica</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="nome">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="digite o nome"
        ng-model="nome"
      />
    </div>
    <div class="col-md-4">
      <label for="numDocumento">Número do Documento</label>
      <input
        type="text"
        class="form-control"
        id="numDocumento"
        placeholder="digite o número do documento"
        ng-model="numDocumento"
      />
    </div>
  </div>

  <!-- ADICIONAR TELEFONE -->
  <div class="form-group row my-5">
    <div class="col-md-6 mx-auto">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          ng-model="telefone"
          placeholder="Telefone"
          name="telefone-input"
        />
        <button
          type="button"
          class="btn btn-primary"
          ng-click="adicionarTelefone(cliente_id)"
        >
          Adicionar
        </button>
      </div>

      <table
        class="table table-striped table-bordered my-2"
        ng-show="telefones.length > 0"
      >
        <thead>
          <tr>
            <th>Telefone</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="telefone in telefones">
            <td>{{ telefone.telefone }}</td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                ng-click="removerTelefone(telefone.id)"
              >
                Remover
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <!-- FIM ADICIONAR TELEFONE -->
</div>

<script>
  $(document).ready(function () {
    $("#tipoPessoa").change(function () {
      var tipoPessoa = $("#tipoPessoa").val();
      if (tipoPessoa == "FISICA") {
        $("#numDocumento").attr("placeholder", "CPF");
        $("[id='numDocumento']").mask("000.000.000-00");
      } else {
        $("#numDocumento").attr("placeholder", "CNPJ");
        $("[id='numDocumento']").mask("00.000.000/0000-00");
      }
    });

    $("[name='telefone-input']").mask("(00) 00000-0000");
  });
</script>
